<p>login works!</p>

<div class="container form">
    <div>
        <h1>login form</h1>
        <hr>
    </div>
    <form [formGroup]="loinForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <a routerLink="/signup" > Are you New user? Click to sgin up</a>
</div>